
<!--ion-split-pane>
<ion-menu side="right" [content]="mycontent">
    <ion-header>
        <ion-toolbar>
          <ion-title>Markers</ion-title>
        </ion-toolbar>
    </ion-header>
  <ion-content>  
    <ion-list>
      <ion-item>some menu content, could be list items</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="MapsPage" main #mycontent></ion-nav-->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Map</ion-title>

    <ion-buttons end>
    <button ion-button icon-only clear (click)="addMarker()">
      <ion-icon item-right name="md-pin"></ion-icon>
    </button>
    <button *ngIf="!showRule" ion-button icon-only clear (click)="showRuler()"> <ion-icon name="ios-barcode"></ion-icon></button>
    <button *ngIf="showRule" ion-button icon-only clear color="dark" (click)="showRuler()"> <ion-icon name="ios-barcode"></ion-icon></button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <div #map id="map"></div>
    <div id="cross"></div>
</ion-content>

<!--/ion-split-pane-->