page-map {
    html, body {
        height: 100%;
        width: 100%;
    }
    #map {
        height: 100%;
        width: 100%;
    }
    #cross{
        position: absolute;
        width: 2px;
        height: 20px;
        background: #000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
    #cross::before{
        content: "";
        position: absolute;
        width: 20px;
        height: 2px;
        background: #000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
