<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sign In</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
    <div class="center" style="max-width:400px">

    <ion-list>
      <ion-card padding>
        <h2 text-center>Sign in to get all your saved markers and customized forms</h2>
      </ion-card>
      <ion-item>
        <ion-label floating>email</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating >password</ion-label>
        <ion-input type={{type}} [(ngModel)]="password" name="password"></ion-input>
        <!--ion-icon name="md-eye" item-right></ion-icon-->
        <button *ngIf="!showPass" ion-button icon-only clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="md-eye-off"></ion-icon></button>
        <button *ngIf="showPass" ion-button icon-only clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="md-eye"></ion-icon></button>
      </ion-item>

    </ion-list>

      <button ion-button color="light" block (click)="registerUser()">Sign In</button>

      <button ion-button color="primary" block (click)="loginGUser()" icon-left><ion-icon name="logo-google"></ion-icon>Sign In With Google</button>

      <div text-center>
          <button ion-button outline center [navPush]="registerPage">Register</button>
      </div>

      <div text-center>
          <button ion-button outline center [navPush]="registerPage">Forgot Password?</button>
      </div>
    </div>
</ion-content>


